label,input{
    display:block;
    text-align:start;
    font-size:20px;
    font-family:serif;
    color:white;
    padding:4.5px;
  
  }
  
  .contact>*{
    width:100%;
  }
  
  .heart{
    color: #eb0909;
  }
  
  #description{
    color:white;
    font-family: roboto;
    font-weight:bold;
    font-size:25px;
  
  }
  form{
    border-style:solid;
    margin:50px auto;
    width:600px;
    padding:28px;
    color:white;
    
  }
  
  
  body{
    background: rgb(50,42,195);
  background: linear-gradient(142deg, rgba(50,42,195,1) 0%, rgba(0,212,255,1) 92%);
  
  }
  
  .container{
    text-align:center;
  }
  
  #title{
    color:white;
    font-family: tahoma;
  }
  
  #dropdown{
    width:600px;
    font-size:20px;
    font-family:serif;
    padding:4.5px;
  }
  
  
  
  #submit{
   width:600px;
    font-size:20px;
    font-family:serif;
    padding:4.5px;
  }
  
  textarea{
    width:600px;
    height:80px;
  }
  
  .gender input{
    display:inline;
  }